a{
  float: right;
  padding: 2vw;
  color: rgb(23, 23, 23);
  text-decoration: none;
}
.aduring{
  color: red;
}
a:hover {
  color: rgb(156, 156, 156);
}
a:active {
  color: rgb(255, 0, 0);
}
body {
    background-color: rgb(224, 224, 224);
    color: rgb(22, 22, 22);
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
  }
button{
  background-color: rgb(240, 240, 239);
  color: rgb(23, 23, 23);
  border-radius: 20%;
  padding: 10%;
  border-color: #ebeaea;
  box-shadow: 1%;
}
button:hover{
    background-color: rgb(62, 62, 62);
    color: rgb(219, 219, 219);
}
.column3{
  column-gap: 3;
}
.container {
  border-radius: 2vw;
  background-color: #c5cbe3;
  padding: 2vw;
  float: left;
  width: 40%;
}
.desc {
  text-align: center;
}
.fa {
  padding: 2vw;
  font-size: 1vw;
  width: 2vw;
  height: 2vw;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}
.fa:hover {
  opacity: 0.7;
}
.fa-facebook {
  background: #3B5998;
  color: white;
}
.fa-google {
  background: #dd4b39;
  color: white;
  margin-top: 2vw;
}
.floatl{
  float: left;
  height: 400vw;
}
.floatr{
  float: right;
}
.floatc{
  text-align: center;
  font-size: 2vw;
}
.gallery {
  width: 15vw;
  column-gap: 2;
  }
.gallery img {
    width: 100%;
    height: auto;
  }
.gallerycol{
    float:right;
    column-gap: 2;
}
h2{
    font-size: 3vw;
  }
header, footer{
    padding: 6vw;
}
.imgindx{
   height: auto;
   width: 30vw;
}
img{
    height:auto; 
    width: 10vw;
    margin: 2vw;
}
.imgpro{
    width: 20vw;
    height: 10vw;
}
input[type=text], textarea {
  width: 100%;
  padding: 1vw;
  border: 1px solid #ccc;
  border-radius: 1vw;
  box-sizing: border-box;
  margin-top: 1vw;
  margin-bottom: 1vw;
  resize: vertical
}
input[type=submit] {
  background-color: #8d8c8c;
  color: white;
  padding: 1vw 3vw;
  border: none;
  border-radius: 1vw;
  cursor: pointer;
}
input[type=submit]:hover {
  background-color: #dedede;
  color: #3f3f3f;
}
.imgshape{
 border-radius: 50%;
  float:right;
  margin-right: 10vw;
  width: 20vw;
  height: 20vw;
}
main{
  height: 1000vw;
}
.row{
    column-gap: 2;
    height: 500vw;
}
  .some{
    float: right;
    margin-top: 25vw;
  }